.conteudo-dialogo {
  font-size: 15px;
  color: #333;
  margin-bottom: 10px;
}

.acoes-dialogo {
  margin-top: 10px;
}

button[color="warn"] {
  font-weight: 500;
}

.texto-maiusculo {
  text-transform: uppercase;
}